{% extends "base.html" %}

{% block content %}
<div>
    <p class="text-2xl font-bold">All Issues</p>

    
        <div class = "issue_list mt-4 flex items-center justify-center w-full">
            <table class="border border-gray-700">
                <tr class="border border-gray-700">
                    <th class="border border-gray-700 px-4">Subject</th>
                    <th class="border border-gray-700 p-1">Port</th>
                    <th class="border border-gray-700 p-1">Sen Number</th>
                    <th class="border border-gray-700 p-1">Status</th>
                    <th class="border border-gray-700 p-1">Date</th>

                    {% if request.user.is_superuser %}
                        <th class="border border-gray-700 p-1">Action</th>
                    {% endif %}

                </tr>
    {% for issue in issues %}
        {% if issue.status != "RESOLVED"%}       
                <tr class="border border-gray-700">
                    <td class="border border-gray-700 p-1"><a href="{{ issue.pk }}/">{{ issue }}</a> 
                    <td class="border border-gray-700 p-1">{{ issue.user.port }}</td>
                    <td class="border border-gray-700 p-1">{{ issue.sen_no }}</td>
                    
                        <td class="border border-gray-700 p-1">{{ issue.status }}</td>
                    
                    <td class="border border-gray-700 p-1">{{ issue.date_submitted }}</td>
                    

                    {% if request.user.is_superuser %}
                        <td class="border border-gray-700 p-1"><a href="/{{ issue.pk }}/update">Update</a> 
                                                               <a href="/{{ issue.pk }}/delete"> Delete</a>  </td>
                    {% endif %}
                </tr>
        {% endif %}
    {% endfor %}          
            </table>
  
        </div>

        
    </div>
       
    
{% endblock content %}