{% extends "base.html" %}

{% block content %}
  <div>
    <p class="text-2xl font-bold"></p>

    <form method="post" action="" class="mt-12 flex items-center justify-center">
      <div>
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="border-1 p-1 border-green-700">Submit</button>
      </div>

    </form>

    <!-- <div class=" border-lg shadow-xl  bg-green-500 py-4">
      <h3 class="pt-6 text-2xl text-center font-bold text-white">Submit new Issue</h3>
      <form method="" action="" class="px-8 pt-6 pb-8 mb-4 bg-white rounded bg-green-500">
            
              <label class="block mb-2 text-sm font-bold text-gray-700" for="subject">
                  Subject
              </label>
              <input
                  class="w-full px-3 py-2 mb-3 text-sm leading-tight  border rounded "
                  size="50"
              />
              
              <label class="block mb-2 text-sm font-bold text-gray-700" for="status">
                Status
              </label>
              <select
                class="mb-3 p-1 w-full"
              >
              <option value="NEW">New</option>
              <option value="RESOLVED">Resolved</option>
              </select>
              
              <label class="block mb-2 text-sm font-bold text-gray-700" for="sen_no">
                Sen Number
              </label>
              <input
                class="w-full px-3 py-2 mb-3 text-sm leading-tight  border rounded "
                size="50"
              />

              <label class="block mb-2 text-sm font-bold text-gray-700" for="issue">
                Issue
              </label>
              <textarea
                class="w-full px-3 py-2 mb-3 text-sm leading-tight  border rounded"
                size="50"
              >
              </textarea>

              <div class="mt-6 mb-2 text-center">
                <button
                    class="w-1/2 px-4 py-2 font-bold text-white bg-green-600 rounded-full hover:bg-green-700"
                    type="button"
                >
                   Submit
                </button>

            </div>


      </form>
    </div>
  </div>
        
        -->
       

{% endblock content %}